.services-section{
    margin: 0 110px 0 110px;
    padding-top: 50px;
}

.services-section #sub-title-text{
    color: white;
    font-size: 30px;
}

.services-section #title-text{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: -5px;
}

#card-deck{
    max-width: 100%;
    margin-top: -40px;
    height: 500px;
    /* background-color: rgba(255, 255, 255, 0.394); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#card-deck .card{
    width: 280px;
    height:280px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: larger;
}