.services-section{
    margin: 0 110px 0 110px;
    /* padding-top: 50px; */
    padding: 100px 0 100px 0;
}

.services-section #sub-title-text{
    color: white;
    font-size: 30px;
}

.services-section #title-text{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: -5px;
}

#card-deck{
    max-width: 100%;
    margin-top: -40px;
    height: 500px;
    /* background-color: rgba(255, 255, 255, 0.394); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.services-section .row .col-lg .card{
    height:300px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: larger;
}

/* Large desktops and monitors (1280px and above) */
@media (min-width: 1280px) {}

/* Laptops and larger tablets (769px to 1279px) */
@media (min-width: 769px) and (max-width: 1279px) {
    .services-section{
        margin: 0 60px 0 60px;
        padding-top: 50px;
    }

    .services-section #sub-title-text{
        color: white;
        font-size: 28px;
    }
    
    .services-section #title-text{
        color: white;
        font-size: 45px;
        font-weight: bold;
        margin-top: -5px;
    }

    .services-section .row .col-lg .card{
        min-width: 300px !important;
        height:300px;
        border-radius: 30px;
        display: grid;
        place-items: center;
        text-align: center;
        font-size: larger;
    }
}

/* Tablets and larger smartphones (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .services-section{
        margin: 0 30px 0 30px;
        padding-top: 50px;
    }

    .services-section #sub-title-text{
        color: white;
        font-size: 22px;
    }
    
    .services-section #title-text{
        color: white;
        font-size: 32px;
        font-weight: bold;
        margin-top: -5px;
    }

    .services-section .row .col-lg .card{
        margin-bottom: 25px !important;
        min-width: 300px !important;
        height:300px;   
        border-radius: 30px;
        display: grid;
        place-items: center;
        text-align: center;
        font-size: larger;
    }
}

/* Small smartphones (0px to 480px) */
@media (max-width: 480px) {
    .services-section{
        margin: 0 10px 0 10px;
        padding-top: 50px;
    }

    .services-section #sub-title-text{
        color: white;
        font-size: 18px;
    }
    
    .services-section #title-text{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-top: -5px;
    }

    .services-section .row .col-lg .card{
        margin-bottom: 25px !important;
        min-width: 280px !important;
        height:280px;   
        border-radius: 30px;
        display: grid;
        place-items: center;
        text-align: center;
        font-size: larger;
    }
}