.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: rgb(255, 196, 0);
    transform-origin: 0%;
    z-index: 200;
}

#home {
    padding-top: 120px;
    padding-bottom: 20px;
    height: max-content;
    background-color: rgba(255, 0, 0, 0);
}

#aboutme {
    padding: 100px 0 50px 0;
    margin: 0 110px 0 110px;
    height: max-content;
}

#services {
    padding: 0 0 50px 0;
    height: max-content;
    background-color: rgb(0, 0, 0);
}

#projects {
    padding: 50px 0 50px 0;
    margin: 0px 110px 0 110px;
    height: max-content;
}

#experience {
    height: max-content;
    background-color: rgba(0, 60, 255, 0.137);
}

#contact {
    padding: 100px 0 100px 0;
    height: max-content;
    background: url('../../assets/images/cheks_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.center-text {
    text-align: center;
}

@keyframes swipeRight {
    0% {
        transform: translateX(-100%);
        /* Start off-screen to the left */
        opacity: 0;
        /* Fully transparent */
    }

    50% {
        opacity: 1;
        /* Fully visible */
        transform: translateX(20px);
        /* Move slightly to the right */
    }

    100% {
        opacity: 1;
        /* Fully visible */
        transform: translateX(0);
        /* Final position */
    }
}

.name-text {
    margin-top: 48px;
    text-align: center;
    font-size: 65px;
    margin-bottom: -15px;
    animation: swipeRight 2s ease;
}

@keyframes swipeLeft {
    0% {
        transform: translateX(100%);
        /* Start off-screen to the right */
        opacity: 0;
        /* Fully transparent */
    }

    50% {
        opacity: 1;
        /* Fully visible */
        transform: translateX(-20px);
        /* Move slightly to the left */
    }

    100% {
        opacity: 1;
        /* Fully visible */
        transform: translateX(0);
        /* Final position */
    }
}


.based-text {
    text-align: center;
    font-size: 65px;
    margin-top: -25px;
    animation: swipeLeft 2s ease;
}

.desc-text {
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.desc-text h4 {
    width: 60%;
    text-align: center;
}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    height: 80px !important;
    width: 265px !important;
    margin: 20px 10px 20px 0;
    border-radius: 100px !important;
    font-weight: 600 !important;
    background-color: #000 !important;
    box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.48) !important;
}

.btn-light {
    height: 80px !important;
    width: 265px !important;
    margin: 20px 0px 20px 10px;
    border-radius: 100px !important;
    border: 1px #000 solid !important;
    font-weight: 600 !important;
    box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.28) !important;
}

/* Large desktops and monitors (1280px and above) */
@media (min-width: 1280px) {}

/* Laptops and larger tablets (769px to 1279px) */
@media (min-width: 769px) and (max-width: 1279px) {
    .name-text{
        font-size: 50px;
    }

    .based-text{
        font-size: 50px;
    }

    #aboutme {
        padding: 50px 0 50px 0;
        margin: 0 60px 0 60px;
        height: max-content;
    }

    #projects {
        padding: 50px 0 50px 0;
        margin: 0px 60px 0 60px;
        height: max-content;
    }
    .desc-text h4{
        width: 80%;
    }

    .btn-dark {
        height: 70px !important;
        width: 255px !important;
        margin: 20px 10px 20px 0;
        border-radius: 100px !important;
        font-weight: 600 !important;
        background-color: #000 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.48) !important;
    }
    
    .btn-light {
        height: 70px !important;
        width: 255px !important;
        margin: 20px 0px 20px 10px;
        border-radius: 100px !important;
        border: 1px #000 solid !important;
        font-weight: 600 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.28) !important;
    }
}

/* Tablets and larger smartphones (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    #home {
        padding-top: 100px;
    }
    .name-text{
        font-size: 30px;
        font-weight: 500;
        margin: 1px 0 1px 0;
    }

    .based-text{
        font-size: 30px;
        font-weight: 500;
        margin: -1px 0 1px 0;
    }

    #aboutme {
        padding: 50px 0 50px 0;
        margin: 0 30px 0 30px;
        height: max-content;
    }

    #projects {
        padding: 50px 0 50px 0;
        margin: 0px 30px 0 30px;
        height: max-content;
    }
    .desc-text h4{
        margin-top: -20px;
        font-size: 18px !important;
        width: 90%;
    }

    .btn-section{
        margin: 0 0 -30px 0;
    }

    .btn-dark {
        height: 70px !important;
        width: 200px !important;
        margin: 20px 10px 20px 0;
        border-radius: 100px !important;
        font-weight: 600 !important;
        background-color: #000 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.48) !important;
    }
    
    .btn-light {
        height: 70px !important;
        width: 200px !important;
        margin: 20px 0px 20px 10px;
        border-radius: 100px !important;
        border: 1px #000 solid !important;
        font-weight: 600 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.28) !important;
    }
}

/* Small smartphones (0px to 480px) */
@media (max-width: 480px) {
    #home {
        padding-top: 1px;
    }
    .name-text{
        font-size: 30px;
        font-weight: 500;
        margin: 100px 0 1px 0;
    }

    .based-text{
        font-size: 30px;
        font-weight: 500;
        margin: -10px 0 1px 0;
    }

    #aboutme {
        padding: 50px 0 50px 0;
        margin: 0 10px 0 10px;
        height: max-content;
    }

    #projects {
        padding: 50px 0 50px 0;
        margin: 0px 10px 0 10px;
        height: max-content;
    }
    .desc-text h4{
        margin-top: -20px;
        font-size: 15px !important;
        width: 90%;
    }

    .btn-section{
        margin: 0 0 -50px 0;
    }

    .btn-dark {
        height: 60px !important;
        width: 150px !important;
        margin: 20px 10px 20px 0;
        border-radius: 100px !important;
        font-weight: 600 !important;
        background-color: #000 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.48) !important;
    }
    
    .btn-light {
        height: 60px !important;
        width: 150px !important;
        margin: 20px 0px 20px 10px;
        border-radius: 100px !important;
        border: 1px #000 solid !important;
        font-weight: 600 !important;
        box-shadow: 0px 3px 5px 1px rgba(55, 55, 55, 0.28) !important;
    }
}